#!/usr/bin/make -f
#DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

override_dh_auto_configure:
	dh_auto_configure --builddirectory=build/ -- \
	    --libdir=/usr/lib

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

%:
	dh $@ --with quilt --builddirectory=build/ --buildsystem=meson
