Source: meson
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Jussi Pakkanen <jpakkane@gmail.com>
Section: devel
Priority: optional
Standards-Version: 4.6.2
Homepage: https://mesonbuild.com
X-Python3-Version: >= 3.7
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 12),
  python3:any (>= 3.7),
  dh-exec,
  dh-python,
  python3-setuptools,
  ninja-build (>= 1.6),
  bash-completion,
  python3-dev,

Package: meson
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 ${python3:Depends},
 ninja-build(>=1.6),
 python3-pkg-resources,
 python3-setuptools
Recommends:
 dpkg-dev,
Description: high-productivity build system
 Meson is a build system designed to increase programmer
 productivity. It does this by providing a fast, simple and easy to
 use interface for modern software development tools and practices.
