Source: libdecor
Section: libs
Priority: optional
Maintainer: Ernst Sjöstrand <ernstp@gmail.com>
Build-Depends:
 debhelper (>=11~),
 libcairo2-dev,
 libdbus-1-dev,
 libpango1.0-dev,
 libwayland-dev,
 meson,
 ninja-build,
 wayland-protocols
Standards-Version: 4.1.4
Homepage: https://gitlab.gnome.org/jadahl/libdecor

Package: libdecor1
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: A client-side decorations library for Wayland client
 libdecor is a library that can help Wayland clients draw window
 decorations for them. It aims to provide multiple backends that
 implements the decoration drawing.

Package: libdecor-dev
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: A client-side decorations library for Wayland client
 libdecor is a library that can help Wayland clients draw window
 decorations for them. It aims to provide multiple backends that
 implements the decoration drawing.
